<% @dogs.each do |dog| %>
  <div class="booyah-box">
    <h1><%= dog.name %></h1><br />
    <i><%= dog.age %></i><br />
    <i><%= dog.breed %></i><br />
    <p><%= dog.description %></p><br />
  </div>

  <hr />
<% end %>